*{
	font-family: sans-serif;
	font-size: 12px;
	color: #24607f;
}
body{
	width: 400px;
	margin: auto;
	background-color:#d2d2d2;
}
h1{
	padding: 0,5px;
	text-align: center;
	margin-bottom: 30px;
	color: #17202A;
	font-size: 220%;
	font-style: oblique;
	font-family: fantasy;
}
.central{
	border: 1px solid #24607f;
	border-radius: 3px;
	padding: 10px 45px 20px 45px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 0px 5px 10px #24607f, 0 0 0 7px #2874A6 inset;
}
.central label{
	display: block;
	font-weight: bold;


}
.central div{
	margin-bottom: 10px;
}
.central input[type="text"]{
	padding: 7px 6px;
	width: 287px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow: 0 0 0 1px #2E4053;
	margin: 5px 0;
}
.central input[type="text"]:focus, .central textarea:focus{
	outline: none;
	box-shadow: 0 0 0 3px #DDE9EC;
}
.boton{
	background: #24607f;
	border: 0;
	color: #fff;
	margin-left: 80px;
	padding: 10px;
	width: 150px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

}
.boton:hover{
	background-color: #2E4053;

}
.central input[id="bot1"]{
	background: #212F3C ;
	border: 0;
	color: #fff;
	margin-left: 283px;
	padding: 3px;
	width: 60px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.central input[id="bot1"]:hover{
	background-color: #f51105; 
}